@page "/"

<h1>Snake!</h1>
<script>
    function changeCss(cssFile) {
        var link = document.getElementById("theme-link");
        if (link) {
            link.href = "/css/" + cssFile;
        } else {
            link = document.createElement("link");
            link.id = "theme-link";
            link.rel = "stylesheet";
            link.href = "/css/" + cssFile;
            document.head.appendChild(link);
        }
    }
</script>

<SnakeComponent />
<ChangeSkin />
